* {
  overflow-x: hidden;
}

h1, .navbar-brand {
  overflow-y: hidden;
}

.navbar {
  padding: 6vh 0;
}

.nav li a {
  font-size: 3vh;
  padding-left: 6vh;
}

.navbar-default {
  background-color: #FFF;
  border-radius: 0;
  border: none;
}

.navbar-toggle {
  float: left;
  margin-left: 2vh;
}

.first-section {
  background-image: url(../assets/images/taxi.jpg);
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100%;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.jumbotron {
  margin-top: 25vh;
  margin-right: -2.3vh;
  background-color: #F7B617;
  border: none;
  border-radius: 0;
  padding: 6vh;
  color: #FFF;
  margin-left: -15px;
}

.jumbotron h1 {
  font-size: 7vh;
  line-height: 1;
  font-weight: bold;
}

.jumbo-text {
    margin-top: 6vh;
    font-weight: bold;
    display: inline-block;
}

.center {
  text-align: center;
}

.jumbo-line {
  margin-bottom: 3vh;
}

.first-section img {
  height: 3.5vh;
  display: inline-block;
  padding-left: 2vh;
  margin-top: -9vh;
}

.first-section .btn-primary, .fourth-section .btn-primary {
  background-color: #FFF;
  color: #000;
  border: none;
}

.second-section {
  background-color: #F7B617;
  height: 90vh;
}

.second-section .jumbotron {
  background-color: transparent;
  border: 1px solid #FFF;
  margin-top: 8vh;
}

.border-div {
  background-color: transparent;
  border: 1px solid #FFF;
  margin-top: 8vh;
  height: 64vh;
  width: 51vh;
}

.second-section h1 {
  font-size: 4.5vh;
}

.second-section p {
  padding: 2vh 12vh 2vh 0; 
}

.second-section img {
  height: 60vh;
}

.third-section {
  background-image: url(../assets/images/conduce.jpg);
  background-repeat: no-repeat;
  background-position: center;
  height: 70vh;
  object-fit: cover;
  background-size: cover;
  overflow-y: hidden;
}

.third-section .jumbotron {
  background-color: rgba(0,0,0,0.7);
  margin-top: 0;
  height: 70vh;

}

.third-section h1 {
  margin-top: 12vh;
  font-size: 4.3vh;
  line-height: 1.5;
}

.third-section .btn-primary, .fourth-section {
  background-color: #F7B617;
  color: #FFF;
  border: 0;
}

.glyphicon-record {
  font-size: 4vh;
  margin-top: 1vh;
}

.form-control {
  background-color: transparent;
  border: 1px solid #FFF;
  margin-left: -5px;
  margin-top: 4vh;
  width: 50vh;
}

.form-group img {
  margin-top: 5vh;
}

/*Extraido de: https://stackoverflow.com/questions/20773665/fail-to-change-placeholder-color-with-bootstrap-3*/
.form-control::-webkit-input-placeholder { color: white; }  /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: white; }  /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: white; }  /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: white; }  /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color: white; }  /* Microsoft Edge */

iframe {
  height: 60vh;
  width: 60vh;
  padding: 2vh 1vh 1vh 2vh;
}

.map {
  height: 62vh;
  width: 62vh;
  border: 1px solid #fff;
  margin-top: 4vh;
  margin-bottom: 4vh;
}

.fourth-section h1 {
  margin-top: 10vh;
  margin-bottom: 5vh;
} 

.fourth-section p {
  font-size: 3vh;
}

.fourth-section .btn-primary {
  margin-top: 5vh;
  margin-left: 20vh;
  margin-right: auto;
  font-size: 2vh;
  font-weight: bold;
  border-radius: 4px;
  padding-left: 4vh;
  padding-right: 4vh;
}

footer {
  background-color: #2B2B2B;
  color: #fff;
}

footer img {
  margin-top: 10vh;
}

.fa {
  color: #fff;
  margin-top: 43vh;
}

footer ul {
  list-style: none;
  margin-left: 0;
}

footer li {
  padding-bottom: 3vh;
}

.appstore {
  margin-top: 30vh;
  background-image: url(../assets/images/appstore.png);
  height: 10vh;
  width: 25vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

.googleplay {
  background-image: url(../assets/images/enBadgeWebGeneric.png);
  height: 10vh;
  width: 25vh;
  background-repeat: no-repeat;
  background-size: 100%;
}

#title h1 {
  height: 9vh;
}

/*Login modal >> Author: Rodrigo Amarante (rodrigockamarante)*/

#login-modal .modal-dialog {
  width: 350px;
}

#login-modal input[type=text], input[type=password] {
  margin-top: 10px;
}

#div-login-msg,
#div-lost-msg,
#div-register-msg {
  border: 1px solid #000;
  height: 30px;
  line-height: 28px;
  transition: all ease-in-out 500ms;
  background-color: #000;
  color: #fff;
}

#div-login-msg.success,
#div-lost-msg.success,
#div-register-msg.success {
  border: 1px solid #68c3a3;
  background-color: #c8f7c5;
}

#div-login-msg.error,
#div-lost-msg.error,
#div-register-msg.error {
  border: 1px solid #eb575b;
  background-color: #ffcad1;
}

#icon-login-msg,
#icon-lost-msg,
#icon-register-msg {
  width: 30px;
  float: left;
  line-height: 28px;
  text-align: center;
  background-color: #000;
  margin-right: 5px;
  transition: all ease-in-out 500ms;
}

#icon-login-msg.success,
#icon-lost-msg.success,
#icon-register-msg.success {
  background-color: #68c3a3 !important;
}

#icon-login-msg.error,
#icon-lost-msg.error,
#icon-register-msg.error {
  background-color: #eb575b !important;
}

#img_logo {
  max-height: 100px;
  max-width: 100px;
}

/* #########################################
   #    override the bootstrap configs     #
   ######################################### */

   .modal-backdrop.in {
    filter: alpha(opacity=50);
    opacity: .8;
  }

  .modal-content {
    background-color:  #F7B617;
    border: 1px solid #000;
    border-radius: 6px;
    outline: 0;
  }

  .modal-header {
    min-height: 16.43px;
    padding: 15px 15px 15px 15px;
    border-bottom: 0px;
  }

  .modal-body {
    position: relative;
    padding: 5px 15px 5px 15px;
  }

  .modal-footer {
    padding: 15px 15px 15px 15px;
    text-align: left;
    border-top: 0px;
  }

  .checkbox {
    margin-bottom: 0px;
  }

  .btn {
    border-radius: 0px;
  }

  .btn:focus,
  .btn:active:focus,
  .btn.active:focus,
  .btn.focus,
  .btn:active.focus,
  .btn.active.focus {
    outline: none;
  }

  .btn-lg, .btn-group-lg>.btn {
    border-radius: 6px;
  }

  .btn-link {
    padding: 5px 10px 0px 0px;
    color: #000;
  }

  .btn-link:hover, .btn-link:focus {
    color: #2c3e50;
    text-decoration: none;
  }

  .glyphicon {
    top: 0px;
  }

  .form-control {
    border-radius: 0px;
  }

  .glyphicon-chevron-right {
    color: #FFF;
  }

  .modal-footer .btn-primary {
    background-color: #000;
    border: none;
  }